# ðŸ§ª TP â€“ Analyse des performances dâ€™Ã©tudiants

ðŸŽ¯ **Objectif :** PrÃ©parer ce dataset pour un prochain cours qui prÃ©dira la note finale dâ€™un Ã©tudiant.

### Jeu de donnÃ©es : StudentsPerformance.csv
### RÃ©ponder aux questions dans la cellule suivant la question
### Modules autorisÃ©s : pandas, mathplotlib, numpy, seaborn, scikit-learn

## ðŸ“‹ Questions

### ðŸ”¹ 0. charger le jeu de donnÃ©es et ajout de colonne average_score

a. Charger le jeu de donnÃ©es et puis ajouter une colonne 'average_score' (moyenne des trois notes "math score","reading score","writing score" dans le jeu de donnÃ©es

In [15]:
import pandas as pd
from pandas.core.interchange.dataframe_protocol import DataFrame

df = pd.read_csv("StudentsPerformance.csv")

In [16]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [17]:
import numpy as np
df["average_score"] = (df["math score"] + df["reading score"] + df["writing score"]) / 3

In [18]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

### ðŸ”¹ 1. Exploration de base

a. Charger le jeu de donnÃ©es et Afficher les 10 premiÃ¨res lignes du dataset

In [19]:
df[0:10]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
5,female,group B,associate's degree,standard,none,71,83,78,77.333333
6,female,group B,some college,standard,completed,88,95,92,91.666667
7,male,group B,some college,free/reduced,none,40,43,39,40.666667
8,male,group D,high school,free/reduced,completed,64,64,67,65.000000
9,female,group B,high school,free/reduced,none,38,60,50,49.333333

b. Combien dâ€™Ã©tudiants ont participÃ© Ã  lâ€™Ã©tude ?

In [20]:
len(df)

1000

c. Existe-t-il des doublons (Ã©tudiants) ?

In [21]:
 df["duplicated"] = df.duplicated()

In [22]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average_score,duplicated
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667,False
1,female,group C,some college,standard,completed,69,90,88,82.333333,False
2,female,group B,master's degree,standard,none,90,95,93,92.666667,False
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333,False
4,male,group C,some college,standard,none,76,78,75,76.333333,False
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000,False
996,male,group C,high school,free/reduced,none,62,55,55,57.333333,False
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000,False
998,female,group D,some college,standard,completed,68,78,77,74.333333,False
999,female,group D,some college,free/reduced,none,77,86,86,83.000000,False

d. Donner les statistiques de base des scores (max, min, moyenne, mediane)

In [23]:
df.groupby("duplicated").count()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average_score
duplicated,,,,,,,,,
False,1000,1000,1000,1000,1000,1000,1000,1000,1000

### ðŸ”¹ 2. DÃ©tection de valeurs manquantes ou incohÃ©rentes

a. Nombre de valeurs manquantes par cellule?

b. Combien d'Ã©tudiants ont un score moyen < 40 ?

c. Valeurs aberrantes pour le score moyen ? (utiliser visualisation et la MÃ©thode de lâ€™Ã©cart interquartile [Ã  lire])

### ðŸ”¹ 3. Visualisation des donnÃ©es

a. Histogramme des notes moyennes

b. Peut-on voir sur cet histogramme des valeurs abÃ©rrantes?

c. Faire une boxplot des moyennes par genre.

d. Est-ce qu'il y a une diffÃ©rence nette des moyennes de genre sur ce boxplot?

e. Barplot moyenne par niveau d'Ã©ducation des parents? Peut-on avoir des conclusions sur cette variable?

d. Faire le Heatmap de corrÃ©lation. Quelle est la variable la plus correlÃ©e avec la note moyenne?

### ðŸ”¹ 4. Nettoyage des donnÃ©es

a. Imputation des NaN (remplacer les NaN par la moyenne de la variable correspondante)

b. Suppression des colonnes inutiles ( Identifiez les colonnes qui sont redondantes, constantes ou sans valeur explicative[aucune corrÃ©lation] )

c. SÃ©lection des colonnes utiles

### ðŸ”¹ 5. Encodage

a. Encodage de `gender` ( rendre en numÃ©rique de faÃ§on catÃ©gorielle )

b. Encodage one-hot de `parental_level_of_education`

c. Est-il utilise pour l'encodage de `parental_level_of_education` de faire un Regroupement des modalitÃ©s ?

### ðŸ”¹ 6. PrÃ©paration finale

a. CrÃ©er X (features) et y (cible: average_score)

b. VÃ©rifier que X est bien numÃ©rique

c. Sauvegarder X et y

## ðŸ’¡ Bonus

In [24]:
# Fonction preprocess_students_data(df)

a. Visualisation libre d'une tendance surprenante